 <!--left-fixed -navigation-->
<div class=" sidebar" role="navigation">
    <!----> <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/Home/index"><i class="fa fa-home nav_icon"></i>Anasayfa</a>
                </li>

                <li class="">
                    <a href="/Projects/index"><i class="fa fa-book nav_icon"></i>Proje İşlemleri<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/Projects/Publish">Proje Yayımla<!--<span class="nav-badge-btm">08</span>--></a>
                        </li>
                        <li>
                            <a href="/Profile/MyProjectsAsOwner">Yayımladığım Projeler<!--<span class="nav-badge-btm">08</span>--></a>
                        </li>
                        <li>
                            <a href="/Profile/MyProjectsAsWorker">Çalıştığım Projeler</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->

                </li>

                <li>
                    <a href="/Projects/index"><i class="fa fa-cogs nav_icon"></i>Kullanıcı İşlemleri<!-- <span class="nav-badge">12</span>--> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="/Profile/Index">Profil</a>
                        </li>
                        <li>
                            <a href="/Profile/AddCredit">Bakiye Yükle</a>
                        </li>
                    </ul>
                    <!-- /nav-second-level -->
                </li>


                <!--
                <li>
                    <a href="~/Content/Themes/Layout/widgets.html"><i class="fa fa-th-large nav_icon"></i>Widgets <span class="nav-badge-btm">08</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="~/Content/Themes/Layout/inbox.html">Inbox <span class="nav-badge-btm">05</span></a>
                        </li>
                        <li>
                            <a href="~/Content/Themes/Layout/compose.html">Compose email</a>
                        </li>
                    </ul>


                </li>
                <li>
                    <a href="/Projects/index"><i class="fa fa-table nav_icon"></i>Projeler <span class="nav-badge">05</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="~/Content/Themes/Layout/forms.html">Basic Forms <span class="nav-badge-btm">07</span></a>
                        </li>
                        <li>
                            <a href="~/Content/Themes/Layout/validation.html">Validation</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="nav-badge-btm">02</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="~/Content/Themes/Layout/login.html">Login</a>
                        </li>
                        <li>
                            <a href="~/Content/Themes/Layout/signup.html">SignUp</a>
                        </li>
                        <li>
                            <a href="~/Content/Themes/Layout/blank-page.html">Blank Page</a>
                        </li>
                    </ul>

                </li>

                <li>
                    <a href="~/Content/Themes/Layout/charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts <span class="nav-badge-btm pull-right">new</span></a>
                </li>
                -->
            </ul>
            <div class="clearfix"> </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>
<!--left-fixed -navigation-->
