@model Freelance.Entities.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Profile/Edit" method="post" class="form-group">
    <div>
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required" })
        <br />
    </div>

    <div>
        <label>Mail</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" , disabled = "disabled" })
        <br />
    </div>

    <div>
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", required="required" })
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>


